name: Create Issues
on:
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create issues
        uses: peter-evans/create-issue-from-file@v4
        with:
          content-filepath: .github/issues
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}